.input {
  height: 50px;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  padding: 0 20px;

  &:hover,
  &:focus-visible,
  &:active {
    border: 2px solid var(--color-primary) !important;
    outline: none;
  }
}

.text-area {
  height: 130px;
  width: 100%;
  border: 1px solid #e3e3e3;
  padding: 15px 20px;
  resize: none;
  display: block;
  border-radius: 2px;

  &:hover,
  &:focus-visible,
  &:active {
    border: 2px solid var(--color-primary) !important;
    outline: none;
  }
}

.site-btn {
  background-color: var(--color-primary);
  padding: 0.75rem 1.75rem;
  color: white !important;
  border: none;
  margin-right: calc(var(--bs-gutter-x) * 0.5);
}

::ng-deep.danger-tooltip {
  .tooltip-inner {
    background-color: var(--color-danger);
  }
}

::ng-deep.danger-tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--color-danger);
}

::ng-deep.danger-tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: var(--color-danger);
}

::ng-deep.danger-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-danger);
  top: -6px;
}

::ng-deep.danger-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--color-danger);
}
