<section id="contact" class="section">
  <div class="container">
    <div class="row wave-bg">
      <div class="col-md-4">
        <div class="section-sidebar">
          <h2><span class="point">Contact</span></h2>
          <div class="opacity-box">
            <p>
              Are you interested in learning more about me or do you feel like
              asking me anything? Don’t hesitate, reach out, and I’ll do my best
              to get back to you as soon as possible.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <form [formGroup]="contactForm">
          <div class="row w-100 m-0">
            <div class="col-md-5">
              <input
                class="input mb-3"
                placeholder="Name"
                [formControlName]="formControlNameNome"
              />
              <input
                class="input mb-3"
                placeholder="E-mail"
                [formControlName]="formControlNameEmail"
              />
            </div>
            <div class="col-md-7">
              <textarea
                class="text-area mb-3"
                placeholder="Message"
                [formControlName]="formControlNameMessage"
              ></textarea>
            </div>
          </div>
          <button
            class="float-end site-btn"
            (click)="sendMessage()"
            ngbTooltip="Fill in all the fields of the form"
            [disableTooltip]="contactForm.valid"
            tooltipClass="danger-tooltip"
          >
            SEND MESSAGE
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
