<section id="contact" class="section">
  <div class="container">
    <div class="row wave-bg">
      <div class="col-md-4">
        <div class="section-sidebar">
          <h2><span class="point">Contact</span></h2>
          <div class="opacity-box">
            <p>
              Are you working on something great? I would love to help make it
              happen! Drop me a letter and start your project right now! Just do
              it.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row w-100 m-0">
          <div class="col-md-5">
            <input class="input mb-3" placeholder="Name" />
            <input class="input mb-3" placeholder="E-mail" />
          </div>
          <div class="col-md-7">
            <textarea class="text-area mb-3" placeholder="Message"></textarea>
          </div>
        </div>
        <button class="float-end site-btn">SEND MESSAGE</button>
      </div>
    </div>
  </div>
</section>
