<section id="portfolio">
    <h5>My recent Work</h5>
    <h2>Portfolio</h2>
    <div class="container portfolio__container">
        <article class="portfolio__item">
            <div class="portfoglio__item-image">
                <img src="assets/images/oshoop.png" alt="OSHOP">
            </div>
            <h3>OSHOP</h3>
            <div class="portfolio__item-cta">
                <a href="https://github.com/fraciccio2/oshop" class="btn btn-dark" target="_blank"> Github</a>
            </div>
        </article>
        <article class="portfolio__item">
            <div class="portfoglio__item-image">
                <img src="assets/images/booklist.png" alt="BOOKLIST">
            </div>
            <h3>BOOKLIST</h3>
            <div class="portfolio__item-cta">
                <a href="https://github.com/fraciccio2/booklist" class="btn btn-dark" target="_blank"> Github</a>
            </div>
        </article>
        <article class="portfolio__item">
            <div class="portfoglio__item-image">
                <img src="assets/images/portfolio3.60c470d742cb4d58f96c.jpg" alt="SITE WEB"></div>
            <h3>SITE WEB</h3>
            <div class="portfolio__item-cta">
                <a href="https://github.com/fraciccio2/myWebSite" class="btn btn-dark" target="_blank"> Github</a>
            </div>
        </article>
        <article class="portfolio__item">
            <div class="portfoglio__item-image">
                <img src="assets/images/linktree.jpg" alt="LINK TREE">
            </div>
            <h3>LINK TREE</h3>
            <div class="portfolio__item-cta">
                <a href="https://github.com/fraciccio2/linkTree" class="btn btn-dark" target="_blank"> Github</a>
            </div>
        </article>
    </div>
</section>
