<section id="about">
    <h5>Get To Know</h5>
    <h2>About Me</h2>
    <div class="container about__container">
        <div class="about__me">
            <div class="about__me-image">
              <img src="assets/images/businessman.jpg" alt="About Image">
            </div>
        </div>
        <div class="about__content">
            <div class="about__cards">
                <article class="about__card">
                    <i class="bi bi-person-workspace"></i>
                    <h5>Experience</h5><small>6 Mounth Working as a Frontend</small>
                </article>
                <article class="about__card">
                    <i class="bi bi-mortarboard-fill"></i>
                    <h5>Course Of Study</h5><small>2 Years </small>
                </article>
                <article class="about__card">
                    <i class="bi bi-folder-fill"></i>
                    <h5>Project</h5><small>10+ Project</small>
                </article>
            </div>
            <p>Pleased to meet you, I'm Francesco and I'm a boy born on November 18, 2001. I like to put passion into what I
                do, that's why I always try to improve myself. The adjectives that represent me are: Punctual, Precise
                and Solar. Given the passion for computers from an early age, I have always been passionate about the
                world of the Web, in doing so I decided to start developing applications and websites too.</p>
                <a href="#contact" class="btn btn-success"> Let's Talk</a>
        </div>
    </div>
</section>
