<footer>
  <a href="#" class="footer__logo">Francesco</a>
  <ul class="permalinks">
    <li><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <div class="footer__socials">
    <a href="https://github.com/fraciccio2?tab=repositories" target="_blank">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/francesco-nicol%C3%B2-giacomazzo-1962b9242/" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
  </div>
  <div class="footer__copyright"><small>© Francesco Nicolò Giacomazzo. All rights reserve</small></div>
</footer>
