<header>
    <div class="container header__container">
        <h5>Hello I'm</h5>
        <h1>Francesco Nicolò Giacomazzo</h1>
        <h5 class="text-light">Junior Web Developer</h5>
        <div class="cta">
            <a href="assets/cv/FrancescoNicolòGiacomazzo.pdf" download="" class="btn btn-outline-dark mr-1">Download CV</a>
            <a href="#contact" class="btn btn-success">Let's Talk</a>
        </div>
        <div class="header__socials">
            <a href="https://www.linkedin.com/in/francesco-nicol%C3%B2-giacomazzo-1962b9242/" target="_blank">
                <i class="bi bi-linkedin color-primary"></i>
            </a>
            <a href="https://github.com/fraciccio2?tab=repositories" target="_blank">
                <i class="bi bi-github color-primary"></i>
            </a>
        </div>
        <div class="me">
            <img src="assets/images/business-man-11530978835jxznfsrwvz.png" alt="me">
        </div>
    </div>
</header>
