<section id="hello" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 about-img-wrap order-md-2">
        <div class="about-img">
          <img
            src="assets/images/businessman.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 order-md-1">
        <div class="about-me wow slideInLeft">
          <div class="about-me-title">
            <h1><span class="point">I am Francesco Nicolò Giacomazzo</span></h1>
          </div>
          <div class="about-me-text">
            <div class="opacity-box">
              <p>
                I'm a Full-Stack Developer located in Catania. I like to put
                passion into what I do, that's why I always try to improve
                myself. The adjectives that represent me are: Punctual, Precise
                and Solar. Given the passion for computers from an early age, I
                have always been passionate about the world of the Web, in doing
                so I decided to start developing applications and websites too.
              </p>
            </div>
          </div>
          <div class="about-me-info">
            <p>
              <span class="span-title">Phone</span>
              <span class="span-subtitle">+393475802000</span>
            </p>
            <p>
              <span class="span-title">Email</span>
              <span class="span-subtitle"
                >francesco.giacomazzo2&#64;gmail.com</span
              >
            </p>
            <p>
              <span class="span-title">Social</span>
              <span class="span-icons">
                <a
                  href="https://github.com/fraciccio2?tab=repositories"
                  target="_blank"
                  class="me-2"
                >
                  <i class="bi bi-github"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/francesco-nicol%C3%B2-giacomazzo-1962b9242/"
                  target="_blank"
                >
                  <i class="bi bi-linkedin"></i>
                </a>
              </span>
            </p>
          </div>
          <div class="about-btns">
            <a href="#contact" class="site-btn me-3">CONTACT ME</a>
            <a
              href="assets/cv/FrancescoNicolòGiacomazzo.pdf"
              download=""
              class="gray-btn"
              >DOWNLOAD CV</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
