<section id="services">
    <h5>What I Offer</h5>
    <h2>Services</h2>
    <div class="container services__container">
        <article class="service">
            <div class="service__head">
                <h3  style="color: black">WEB DEVELOPMENT</h3>
            </div>
            <ul class="service__list">
                <li>
                    <i class="bi bi-check"></i>
                    <p>HTML</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>CSS</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>BOOTSTRAP</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>ANGULAR</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>TYPESCRIPT</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>VIEWJS</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>ANGULARJS</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>JAVASCRIPT</p>
                </li>
            </ul>
        </article>
        <article class="service">
            <div class="service__head">
                <h3  style="color: black">Content Creation</h3>
            </div>
            <ul class="service__list">
                <li>
                    <i class="bi bi-check"></i>
                    <p>OSHOP</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>BOOKLIST</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>SITE WEB</p>
                </li>
                <li>
                    <i class="bi bi-check"></i>
                    <p>LINK TREE</p>
                </li>
            </ul>
        </article>
    </div>
</section>