<section id="skills" class="section">
  <div class="container">
    <div class="row wave-bg">
      <div class="col-md-4">
        <div class="section-sidebar">
          <h2><span class="point">Skills</span></h2>
          <div class="opacity-box">
            <p>
              I am inspired by creating great work with people who are as
              passionate as I am about building something awesome.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Frontend Development</h4>
              <div class="opacity-box">
                <p>
                  HTML, CSS, SCSS, Bootstrap, Angular.js, Angular, VueJS,
                  Typescript, Javascript.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Backend Development</h4>
              <div class="opacity-box">
                <p>JAVA, SpringBoot, Quarkus, Node.js, Python, Firebase.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Android Development</h4>
              <div class="opacity-box">
                <p>JAVA, Kotlin, Android Studio. TensorFlow.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
