<section id="skills" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 code-img">
        <div class="section-sidebar">
          <h2><span class="point">Skills</span></h2>
          <div class="opacity-box">
            <p>
              I am a versatile full stack developer with expertise in frontend
              and backend development, as well as Android application
              development. I focus on creating responsive user interfaces,
              building scalable backend systems, and delivering high-performance
              native mobile apps. My diverse skill set allows me to adapt to
              different project needs and deliver end-to-end solutions
              efficiently.
            </p>
          </div>
        </div>
        <div class="code">
          <img [src]="'assets/images/code.png'" alt="" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Frontend Development</h4>
              <div class="opacity-box">
                <p>
                  HTML, CSS, SCSS, Bootstrap, Angular.js, Angular, VueJS,
                  Typescript, Javascript, AJAX, jQuery, JSON.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Backend Development</h4>
              <div class="opacity-box">
                <p>
                  JAVA, SpringBoot, Quarkus, Node.js, Python, Firebase,
                  PostgresSQL, MySQL, SQL, Hibernate, Maven.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Android Development</h4>
              <div class="opacity-box">
                <p>
                  JAVA, Kotlin, Android Studio. TensorFlow, SQLite, Android SDK.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
