<section id="experience" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 code-img">
        <div class="section-sidebar">
          <h2><span class="point">Experience</span></h2>
          <div class="opacity-box">
            <p>
              Throughout my career, I have gained valuable experience working on
              a variety of projects across different industries. These roles
              have allowed me to sharpen my skills as a full stack developer,
              collaborate with diverse teams, and deliver high-quality solutions
              tailored to specific business needs. My experience reflects a
              strong commitment to continuous learning and professional growth.
            </p>
          </div>
        </div>
        <div class="code">
          <img [src]="'assets/images/code.png'" alt="" />
        </div>
      </div>
      <div class="col-md-8 right-box">
        <div class="row">
          <div class="col-md-12">
            <div class="about-row">
              <h4 class="about-tittle">Full-Stack Developer</h4>
              <p class="about-info">RBTech SRL</p>
              <p>Feb, 2022 — Present</p>
              <div class="opacity-box">
                <p>
                  RBTech is a technological company part of the RBHold group
                  focused on data science, web intelligence and machine
                  learning. We develop best-in-class enterprise software
                  solutions for Insurance, Pension Funds, Finance and Healthcare
                  companies using next-gen cross-platform technologies and
                  methodologies. RBTech listens to customers’ needs and
                  requirements, designing user-friendly products that will help
                  the clients growth, producing revenue, creating savings and
                  building a trustful partnership.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
