<section id="experience" class="section">
  <div class="container">
    <div class="row wave-bg">
      <div class="col-md-4">
        <div class="section-sidebar">
          <h2><span class="point">Experience</span></h2>
          <div class="opacity-box">
            <p>
              I partner with startups, organizations and Fortune 500 companies
              to build digital products that help clients overcome challenges
              and create lasting connections with millions of people every day.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8 right-box">
        <div class="row">
          <div class="col-md-12">
            <div class="about-row">
              <h4 class="about-tittle">Full-Stack Developer</h4>
              <p class="about-info">RBTech SRL</p>
              <p>Feb, 2022 — Present</p>
              <div class="opacity-box">
                <p>
                  Designed and developed user-friendly website, including
                  optimized check-out page that increased user clicks, and
                  subsequently customer purchases by 20%.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
